html, head, body {
	font-family: "Helvetica", Arial;
	font-size: 100%;
}

header {
	width: 60%;
}

nav {
	width: 60%;
}

	nav ul {
		width: 50%;
	}

content {
	width: 60%;
	display: block;
	padding: 0;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
}

article {
	width: 65%;
	float: left;
	margin: 1%;
	font-size: 0.75em;
	text-align: justify;

}

h1 {
}

sidebar {
	width: 30%;
	float: right;
	margin: 1%;
	font-size: 0.75em;
}

a {
	font-family: bold;
	color: #aaa;
}

a:hover {
	color: #999;
}

ul {
}

footer {
	width: 60%;
}

@media screen and (min-width: 768px) and (max-width: 959px) {


html, head, body {
	font-family: "Helvetica", Arial;
	font-size: 100%;
}

header {
	width: 60%;
}

nav {
	width: 60%;
}

	nav ul {
		width: 50%;
	}

content {
	width: 60%;
	display: block;
	padding: 0;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
}

h1 {
}

sidebar {
	width: 30%;
	float: right;
}

a {
	font-family: bold;
	color: #aaa;
}

a:hover {
	color: #999;
}

ul {
}

footer {
	width: 60%;
}

@media only screen and (min-width:480px) and (max-width: 767px) {

html, head, body {
	font-family: "Helvetica", Arial;
	font-size: 100%;
}

header {
	width: 60%;
}


nav {
	width: 60%;
}

	nav ul {
		width: 50%;
	}

content {
	width: 60%;
	display: block;
	padding: 0;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
}

h1 {
}

sidebar {
	width: 30%;
	float: right;
}

a {
	font-family: bold;
	color: #aaa;
}

a:hover {
	color: #999;
}

ul {
}

footer {
	width: 60%;
}

@media only screen and (max-width: 479px) {

html, head, body {
	font-family: "Helvetica", Arial;
	font-size: 100%;
}

header {
	width: 60%;
}


nav {
	width: 60%;
}

	nav ul {
		width: 50%;
	}

content {
	width: 60%;
	display: block;
	padding: 0;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
}

h1 {
}

sidebar {
	width: 30%;
	float: right;
}

a {
	font-family: bold;
	color: #aaa;
}

a:hover {
	color: #999;
}

ul {
}

footer {
	width: 60%;
}
	